@media(max-width: 769px){
    #container{
        width: 628px;
    }

    .linhaum {
        margin-inline: 127px;
    }
}

@media(max-width: 426px){
    #container{
        width: 370px;
    }

    .linhaum {
        margin-inline: -2px;
    }

    h1 {
        font-size: 32px;
    }

    #btn {
        flex-direction: column;
    }

    #simples, #compostos {
        margin: 7px 48px; 
    }
}

@media(max-width: 321px){
    #container{
        width: 260px;
    }
}